{% extends 'base.html' %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        <button class="close" data-dismiss="alert">
        <small><sup>x</sup></small>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <br>
  <div class="row">
    {% for data in all_items %}
      <div class="col">
        <div class="card" style="width: 15rem; margin-bottom: 18px;">
          <div class="card-body">
            <form method="post" action="{% url 'addToCart' data.id request.user.id %}">
              {% csrf_token %}
              <h5 class="card-title"><b>{{ data.name }}</b></h5>
              <p class="card-text">Price: {{ data.price }}</p>
              <input type="hidden" name="name" value="{{ data.name }}">
              <input type="hidden" name="price" value="{{ data.price }}">
              <input type="hidden" name="product" value="{{ data.id }}">
              <input type="hidden" name="created_by" value="{{ request.user.id }}">
              <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add Cart</button>
            </form>
            
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}